body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;  /* padding - espaçamento */
    text-align: center;
}

header{
    background-color:blue;
    color: white;
    padding: 20px 0;
}

section {
padding: 5px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  
}

footer {

    background-color:blue;
    color: white;
    padding: 5px 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    
}